#ide chase files
.idea/

#my personal scheme for take over the wor... I mean for planning my app architecture, of course
**.drawio

#dataset (i want commiting that, cause this is too much weighs and i am too like speed for waiting for uploading it)
database/